
@{
    ViewBag.Title = "Index";
}

<h4 class=" mt-3">Gerenciamento de Tarefas<br /></h4>
<p align="justify" class=" mt-4">
        Este gerenciador de tarefas é um sistema desenvolvido com a finalidade de ajudar empresas a organizar
        os diversos tipos de atividades cotidianas. Por meio dele é possível relacionar as tarefas e projetos,
        acompanhando clientes e usuários, bem como a análise quantitativa de estados e munícpios para garantir o alcance das metas.
        Para você entender melhor como o gerenciador de tarefas pode ser importante, vamos mostrar a seguir os benefícios desse tipo de ferramenta.
</p>

